<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HDFS-Netdisc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>file-upload</param-name>
    <param-value>F:\apache-tomcat-8.0.48\datas</param-value>
  </context-param>
  
  <servlet>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.elon33.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.elon33.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DeleteFileServlet</display-name>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>com.elon33.controller.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.elon33.controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>DocumentServlet</display-name>
    <servlet-name>DocumentServlet</servlet-name>
    <servlet-class>com.elon33.controller.DocumentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentServlet</servlet-name>
    <url-pattern>/DocumentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.elon33.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>IndexPageServlet</display-name>
    <servlet-name>IndexPageServlet</servlet-name>
    <servlet-class>com.elon33.controller.IndexPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPageServlet</servlet-name>
    <url-pattern>/IndexPageServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>MkdirServlet</display-name>
    <servlet-name>MkdirServlet</servlet-name>
    <servlet-class>com.elon33.controller.MkdirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MkdirServlet</servlet-name>
    <url-pattern>/MkdirServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>PrevdirServlet</display-name>
    <servlet-name>PrevdirServlet</servlet-name>
    <servlet-class>com.elon33.controller.PrevdirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrevdirServlet</servlet-name>
    <url-pattern>/PrevdirServlet</url-pattern>
  </servlet-mapping>
</web-app>